@import './animations.css';
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@700&display=swap');

.Board, .Box, .NoteCell {
    display: grid ; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    
}
.Box {
   margin: 2px;
}
.Board {
    position: relative;
    font-family: 'Yrsa', serif;
    margin: auto;
    width: 90vw;
    height: 90vw;
}

#box1 {
    border-top-left-radius: 5px;
}

#box3 {
    border-top-right-radius: 5px;
}

#box7 {
    border-bottom-left-radius: 5px;
}

#box9 {
    border-bottom-right-radius: 5px;
}

[data-row="1"], [data-row="4"], [data-row="7"] {
    border-top: 1px solid var(--border-cell);
    border-bottom: 1px solid var(--border-cell);
}
[data-col="1"], [data-col="4"], [data-col="7"] {
    border-left: 1px solid var(--border-cell);
    border-right: 1px solid var(--border-cell);
}
.Cell {
    color:var(--fontC1);
    position: relative;
    cursor: pointer;
    background-color:var( --background );
    transition:background-color 0.3s;
    overflow: hidden;
}

.Higlight {
    animation: higlight 1s ease-out;
    animation-fill-mode:  forwards;
}

.Number { 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    display: flex;
    font-size: 3vh;
    transition: color 1s;
}
.Invalid {
    position: relative;
    color: rgb(255, 0, 0);
}

.Note {
    pointer-events: none;
    text-align: center;
    font-size: 1.8vh;
    transition: transform 0.4s ease-in-out;
}

.NoteOn{
    animation: colorYoYo 0.6s linear infinite;
}


.Timer {
    width: 100%;
    text-align: right;
}

@media only screen and (min-width: 700px) and (orientation:landscape) {
    .Board {
        margin: unset;
        width: 60vh;
        height: 60vh;
    }
    .Timer {
        
    }
    .Cell:hover {
      background-color: transparent;
       color: white;
    }
}





