.gen-limit {
    width: 5vh;
    height: 5vh;
    margin-left: 1vh;
    color: var(--greenC2);
    outline: none;
    border: none;
    box-shadow: 1px 1px 4px var(--greenC2);
    opacity: 0.8;
    text-align: center;
    background-color: var(--background);;
}


