.instructions p {
    margin: auto;
    font-size: 2vh;
    padding-bottom: 1rem;
    display: block;
    width: 70%;
}
.instructions h1 {
    padding: 1.5rem 0;
    font-size:  4vh;
    margin-top: 10%;
    
}
.instructions h2 {
    font-size:  3vh;
    padding-bottom: 0.5rem;
}
.instructions div {
    border-top: 1px solid var(--whiteC1);
    width: 70%;
    margin: auto;
    padding-top: 2vh;
}
.instructions button {
    font-size: 3.5vh;
    position: absolute;
    left: 3%;
    top: 0.8vh;
    z-index: 3;
}
.instructions {
    z-index: 3;
    text-align: center;
    animation: fade-in 1s ease-out ;
    overflow-y: scroll;
}

@media only screen and (min-width: 700px) and (orientation:landscape) {
    .instructions {
        overflow-y: unset;
    }
    .instructions button {
       left: 2vh; 
    }

}


  