/*-----------------  Main menu  --------------------*/
.MenuWrap {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
}

.MainMenu {
    display: none;
    position: absolute;
    font-size: 6vw;
    height: 100vh;
    width: 100vw;
    top: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    background: linear-gradient(to right, #3e5151ad, #decba4a8);
}
.MainMenu :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.MobMenu {
    font-size: 2.7vw;
    position: absolute;
    z-index: 110;
    right: 1rem;
    top: 1.5rem;
}
.MobMenuActive {
   color: transparent;
   transform-origin: left;
}
.MobMenuActive::after {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    height: 5px;
    top: 30%;
    left: 0;
    background-color: black;
    animation: rotm 0.3s ease-in forwards;
}

@keyframes rotm {
    to {
        transform: rotate(-45deg);
    }
}
@keyframes rotp {
    to {
        transform: rotate(45deg);
    }
}
.MobMenuActive::before {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    height: 5px;
    left: 0;
    top: 30%;
    animation: rotp 0.3s ease-in forwards;
    background-color: black;
}


.NavBtn {
    width: fit-content;
    text-align: center;
    font-weight: 800; 
    font-size: 3.5vw;
    padding-bottom: 1.5rem;
    position: relative; 
    cursor: pointer;
}



/* ------------------------------------------------ */
/* ----------------- User menu --------------------- */ 

#userLogo {
    height: 3.5vh;
    cursor: pointer;
    transition: all 0.3s;
    padding-right: 1vh;
}
#userLogo:hover {
    transform: scale(1.1);
    filter: invert(0) sepia(1) saturate(20) hue-rotate(0deg) brightness(1.2);
}
.UserMenu {
    display: flex;
    align-items: center;
}

/* -------------------------------------------------- */

/* ---------------- Stats window ------------------- */

.Stats {
    position: fixed;
    padding: 10px 0;
    height: 100%;
    width: 100%;
    font-size: 2vh;
    left: -2;
    top: -2;
    z-index: 111;
    background: linear-gradient(to right, #3e5151c9, #decba4cb);
    overflow: hidden; 
    backdrop-filter: blur(1px);
    border-right: 1px solid rgba(221, 155, 32, 0.678);
    transition: transform 0.2s; 
}

.StatsTitle {
    display: block;
    padding: 2rem 0.5rem;
    width: 90%;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid black ;
}

#closeStats {
    float: right;
    font-weight:900;
    font-size: 2.5vh;
    margin-right: 1rem;  
}
#closeStats:hover {
    color: rgb(182, 116, 11);
}
.StatsButton {
    font-size: 2vh;
    padding: 0.5rem;
    display: block;
    width: fit-content;
    margin: auto;
}


.StatsDisplay  {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 2rem;
    overflow: hidden;
}
.Stat {
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@media only screen and (min-width: 700px) and (orientation:landscape) {
    .MobMenu {
        display: none;
    }
    .MainMenu {
        all: unset;
        padding-top: 1rem;
    }
    .MainMenu :first-child {
        flex-direction: row;
    }
    .NavBtn {
        padding: 0 1.5rem;
        font-size: 2.2vh;
    }
    .Stats {
        width: 30%;
    }
    #userLogo {
        height: 3.5vh;
    }
    .NavBtn:hover {
        animation: colorYoYo 1.5s linear ;
        animation-iteration-count: infinite;
    }
    .StatsButton:hover {
        animation: colorYoYo 1.5s linear  infinite;
    }

}
