.menu {
    font-size: 2vh;
    animation: fade-in 0.8s;
}
.menu-backdrop {
    z-index: 2;
}
.nav-btn {
    width: fit-content;
    color: white;
    font-size: 2vh;
    position: relative; 
    cursor: pointer;
    padding: 1vh 0;
    margin: 1vh 0;
    font-weight: 600;
}
.nav-btn:hover {
    animation: colorYoYo ease-in-out 1s infinite;
}
.nav-btn:hover::before {
    transform: scaleX(1);
}
.nav-btn::before {
    content: '';
    transition: transform 0.5s;
    position: absolute;
    bottom: 0;
    height: 2px;
    background: yellow;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
}


