.Winner {
    background-color: rgba(255, 255, 255, 0.89);
    width: 80%;
    padding: 2rem 2rem;
    border-radius: 2%;
    border:1px solid rgb(70, 70, 70);
    box-shadow: 3px 3px 5px rgb(82, 78, 78);
    animation: slit-in-vertical 0.45s ease-out both;
    text-shadow: 1px 1px 2px rgb(192, 184, 184);
    font-size: 1rem;
}
.WinBtn {
    display: inline-block ;
    padding: 10px;
    color: white;
    width: 100px;
    margin: auto;
    margin-top: 0.8rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    background-color: rgb(58, 52, 58);
    cursor: pointer;
}

.Winner p {
    font-size: 2.1rem;
    font-weight: 600;
    text-align: center;
}
.Backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}
.Ranking {
    display: flex;
    padding-bottom: 1rem;
}

.Ranking :first-child {
   width: 50%;
   font-size: 1.6rem;
   font-weight: 600;
}
.Ranking :last-child {
    width: 50%;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 600;
 }
.Puffout {
	animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
@media only screen and (min-width: 700px) and (orientation:landscape) {
    .Winner {
        width: 30%;
        font-size: 2vh;
    }
    .WinBtn {
        width: 25%;
        font-size: 1.2rem;
    }
    .WinBtn:hover {
        color: gold;
    }
}